
@{
    <br />
    ViewBag.Title = "Map";
}

<h2>Map</h2>

<iframe src="https://www.google.com/maps/embed?pb=!4v1638791914717!6m8!1m7!1sB1fvChJHjc-GQpeUgb0_tQ!2m2!1d60.38735232853593!2d25.65322961888148!3f86.648415!4f0!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>